<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header style="background: #435d7d;color: white;text-align:center"><br>
        <h1><strong style="margin: 0 auto; color: white">CHI TIẾT THÔNG TIN KHÁCH HÀNG </strong></h1>
      </c-card-header>
      <c-card-body><br>
        <br><br>
        <br><br>
        <div class="row">
          <div class="col">
            <img src="{{user.image}}" alt="{{user.fullName}}" class="img-thumbnail">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <div class="profile_lable"> Họ và tên</div>
            <input class="profile-input" value="{{user.fullName}}" readonly>
          </div>
          <div class="col">
            <div class="profile_lable"> Email</div>
            <input class="profile-input" value="{{user.email}}" readonly>
          </div>
          <div class="col">
            <div class="profile_lable">Số điện thoại</div>
            <input class="profile-input" value="{{user.phone}}" readonly>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col">
            <div class="profile_lable"> Địa chỉ</div>
            <input class="profile-input" value="{{user.address}}" readonly>
          </div>
          <div class="col">
            <div class="profile_lable"> Tên tài khoản</div>
            <input class="profile-input" value="{{user.account.userName}}" readonly>
          </div>
          <div class="col">
            <div class="profile_lable">Thời gina tạo tài khoản</div>
            <input class="profile-input" value="{{user.createAt}}" readonly>
          </div>
        </div>
        <br>
        <div style="text-align: center">
          <button class="btn btn-outline-warning" (click)="cancel()">Thoát</button>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
