<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="breadcrumb__text">
          <h2>Chi tiết món</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="breadcrumb__links">
          <a href="./index.html">Trang chủ</a>
          <span>Chi tiết món</span>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product__details__img">
          <img class="big_img" src="{{food.image}}" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product__details__text">
          <div class="product__label">{{food.foodCategory.name}}</div>
          <br>
          <br>
          <h1>{{food.name}}</h1>
          <h5>{{food.price | currency :'VND'}}</h5>
          <p> Trà có vị chát, sữa có vị ngọt, trà với sữa sẽ thành một thức uống tuyệt hảo cũng như anh với em sẽ trở
            thành một cặp đôi hoàn hảo.</p>
          <ul>
            <li>Mã món: {{food.id}}</li>
            <li>Danh mục: {{food.foodCategory.name}}</li>
          </ul>
          <div class="product__details__option">
            <div class="quantity">
              <div class="pro-qty">
                <span class="dec qtybtn">-</span>
                <input type="text" value="2" name="2">
                <span class="inc qtybtn">+</span>
              </div>
            </div>
            <a href="#" style="text-decoration: none" class="primary-btn">THÊM VÀO GIỎ HÀNG</a>
          </div>
        </div>
      </div>
    </div>
    <div class="product__details__tab">
      <div class="col-lg-12">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Sự miêu tả</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tabs-1" role="tabpanel">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <p>Bánh Dâu tây ngon tuyệt này là một món ăn đặc biệt với những khối dâu tây ngon ngọt và ngon. Được làm
                  bằng những nguyên liệu tươi ngon nhất, một miếng sẽ đưa bạn đến mùa hè. Mỗi món quà được đựng trong
                  một hộp quà trang nhã và đi kèm với một tấm thiệp chúc mừng bạn chọn mà bạn có thể cá nhân hóa trực
                  tuyến! 2
                  !</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="related-products spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <h2>Những sản phẩm tương tự</h2>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="foodList != null">
      <div class="col-lg-3 col-md-6 col-sm-6"
           *ngFor="let foods of foodList | paginate :{itemsPerPage:4,currentPage : p}">
        <div class="product__item" (click)="detailFood(foods)">
          <div class="product__item__pic ">
            <img style="background: #e5e5e6" src="{{foods.image}}">
            <div class="product__label">
              <span>{{foods.name}}</span>
            </div>
          </div>
          <div class="product__item__text">
            <h6><a style="text-decoration: none" href=" #">{{foods.foodCategory.name}}</a></h6>
            <div class="product__item__price">{{foods.price | currency :'VND'}}</div>
            <div class="cart_add">
              <a style="text-decoration: none" href=" #">Thêm vào giỏ hàng</a>
            </div>
          </div>
        </div>
      </div>
      <pagination-controls class="text-right text" (pageChange)="p = $event"
                           previousLabel="Trước"
                           nextLabel="Sau"
                           [autoHide]="true">
      </pagination-controls>
    </div>
  </div>
</section>

