<h1 mat-dialog-title>Chi Tiết Danh Mục</h1>
<hr>

<div class="form-group row">
  <label class="col-sm-5 col-form-label"> <strong>Tên danh mục </strong></label>
  <div class="col-sm-7">
    <p readonly class="form-control-plaintext" value="email@example.com">Danh mục ok2</p>
  </div>
  <label class="col-sm-5 col-form-label"><strong>Người thêm </strong></label>
  <div class="col-sm-7">
    <p readonly class="form-control-plaintext" value="email@example.com">Quỳnh như</p>
  </div>
  <label class="col-sm-5 col-form-label"><strong>Ngày Thêm</strong> </label>
  <div class="col-sm-7">
    <p readonly class="form-control-plaintext" value="email@example.com">Quỳnh 95/03/2022</p>
  </div>
  <label class="col-sm-5 col-form-label"><strong>Người cập nhật </strong></label>
  <div class="col-sm-7">
    <p readonly class="form-control-plaintext" value="email@example.com">Thanh thủy</p>
  </div>
  <label class="col-sm-5 col-form-label"><strong>Ngày cập nhật</strong></label>
  <div class="col-sm-7">
    <p readonly class="form-control-plaintext" value="email@example.com">04/04/202</p>
  </div>
  <div class="col-sm-3 align-text-bottom">
    <button mat-button (click)="deletefoodcategory()">Thoát</button>
  </div>
</div>
