<div class="container">
  <div class="row">
    <div class="col-lg-3"><br><br><br>
      <div>
        <div class="container">
          <div class="view-account">
            <section class="module">
              <div class="module-inner">
                <div class="side-bar">
                  <nav class="side-menu">
                    <ul class="nav">
                      <li><a style="text-decoration: none" routerLink="/user"><span class="fa fa-user"></span> Thông tin cá nhân</a></li>
                      <li class="active"><a style="text-decoration: none" routerLink="/changePass"><span class="fa fa-cog"></span> Đổi mật khẩu</a></li>
                      <li><a style="text-decoration: none" routerLink="/oder"><span class="fa fa-credit-card"></span> Đơn hàng</a></li>
                      <li><a style="text-decoration: none" routerLink="/history"><span class="fa fa-envelope"></span> Lịch sử đơn hàng</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 gedf-main">
      <br>
      <div class="img"
           style="background-image: linear-gradient(150deg, rgba(63, 174, 255, .3)15%, rgba(63, 174, 255, .3)70%, rgba(63, 174, 255, .3)94%), url('assets/image/slibar3.png');height: 250px;background-size: cover;"></div>
      <div class="card social-prof">
        <div class="card-body">
          <div class="wrapper">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="user-profile">
            <h3>{{authService.getFullName()}}</h3>
          </div>
          <br>
          <form>
            <div class="row ">
              <div class="col-sm-4">
                <div class="profile_lable">Mật khẩu hiện tại</div>
                <input type="password" class="profile-input" placeholder="Nhập mật khẩu hiện tại"
                       formControlName="newPasseeork">
              </div>
              <div class="col-sm-4">
                <div class="profile_lable">Mật khẩu mới</div>
                <input type="password" class="profile-input" placeholder="Mật khẩu mới"
                       formControlName="newPasseeork">
              </div>
              <div class="col-sm-4">
                <div class="profile_lable">Xác nhận mật khẩu</div>
                <input type="password" class="profile-input" placeholder="Xác nhận mật khẩu"
                       formControlName="newPasseeork">
              </div>
            </div>
            <br>
            <button type="submit" class="btn primary-btn ">Lưu</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
