<c-row ngPreserveWhitespaces>
  <c-col xs="1">
  </c-col>
  <c-col xs="10">
    <c-card class="mb-4">
      <c-card-header style="background: #435d7d;color: white;text-align:center"><br>
        <h1><strong style="color: white">THÔNG TIN CỬA HÀNG</strong></h1>
      </c-card-header>
      <c-card-body class=" row g-2">
        <c-col [md]="6" class="mb-3">
          <label class="form-label">Tên cửa hàng</label>
          <input type="text" class="form-control" formControlName="nameShop">
        </c-col>
        <c-col [md]="6" class="mb-3">
          <label class="form-label">Logo</label>
          <img src="assets/logoamin.png" width="50%" height="70%">
          <input type="file" class="form-control" placeholder="Logo" formControlName="">
        </c-col>
        <c-col [md]="6" class="mb-3">
          <label class="form-label">Khẩu hiệu</label>
          <input type="text" class="form-control" placeholder="Khẩu hiệu cửa hàng" formControlName="slogen">
        </c-col>
        <c-col [md]="6" class="mb-3">
          <label class="form-label">Địa chỉ, trụ sở</label>
          <input type="text" class="form-control" placeholder="Địa chỉ, trụ sở" formControlName="address">
        </c-col>
        <c-col [md]="12" class="mb-3">
          <label class="form-label">Giới thiệu ngắn</label>
          <textarea class="form-control" rows="3" formControlName="content"></textarea>
        </c-col>
        <c-col [md]="6" class="mb-3">
          <label class="form-label">Số điện thoại</label>
          <input type="text" class="form-control" placeholder="Khẩu hiệu cửa hàng" formControlName="phone">
        </c-col>
        <c-col [md]="6" class="mb-3">
          <label class="form-label">Email</label>
          <input type="text" class="form-control" placeholder="Địa chỉ, trụ sở" formControlName="email">
        </c-col>
        <c-col [md]="6" class="mb-3">
          <label class="form-label">Tên tài khoản</label>
          <input type="text" class="form-control" placeholder="Khẩu hiệu cửa hàng" formControlName="nameTransfer">
        </c-col>
        <c-col [md]="6" class="mb-3">
          <label class="form-label">Số tài khoản</label>
          <input type="text" class="form-control" placeholder="Địa chỉ, trụ sở" formControlName="number">
        </c-col>
        <c-col [md]="6" class="mb-3">
          <label class="form-label"> Tên ngân hàng, chi nhánh</label>
          <input type="text" class="form-control" placeholder="Khẩu hiệu cửa hàng" formControlName="bankName">
        </c-col>
        <c-col [md]="6" class="mb-3">
          <label class="form-label">Địa chỉ, trụ sở</label>
          <input type="text" class="form-control" placeholder="Địa chỉ, trụ sở" formControlName="address">
        </c-col>
        <c-col [md]="4" class="mb-3">
          <label class="form-label"> Link fakebook</label>
          <input type="text" class="form-control" placeholder="Khẩu hiệu cửa hàng" formControlName="facebook">
        </c-col>
        <c-col [md]="4" class="mb-3">
          <label class="form-label">Link instagram</label>
          <input type="text" class="form-control" placeholder="Địa chỉ, trụ sở" formControlName="instagram">
        </c-col>
        <c-col [md]="4" class="mb-3">
          <label class="form-label">Link youtube</label>
          <input type="text" class="form-control" placeholder="Địa chỉ, trụ sở" formControlName="youtube">
        </c-col>
        <c-col [md]="12" class="mb-3">
          <button type="submit">Lưu thay đổi</button>
        </c-col>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="1">
  </c-col>
</c-row>
