<div style="background: #FFC107;color: white;text-align:center"><h1 mat-dialog-title><strong>Chi Tiết Đơn Hàng</strong>
</h1></div>
<hr>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label"> <strong>Tên người nhận </strong></label>
      <div class="col-sm-7">
        <p readonly class="form-control-plaintext">{{oder.fullName}}</p>
      </div>
      <label class="col-sm-5 col-form-label"> <strong>Địa chỉ nhận</strong></label>
      <div class="col-sm-7">
        <p readonly class="form-control-plaintext">{{oder.address}}</p>
      </div>
      <label class="col-sm-5 col-form-label"> <strong>Số điện thoại</strong></label>
      <div class="col-sm-7">
        <p readonly class="form-control-plaintext">{{oder.phone}}</p>
      </div>
      <label class="col-sm-5 col-form-label"> <strong>Tài khoản đặt món</strong></label>
      <div class="col-sm-7">
        <p readonly class="form-control-plaintext">{{oder.account.userName}}</p>
      </div>
      <label class="col-sm-5 col-form-label"> <strong>Số lượng</strong></label>
      <div class="col-sm-7">
        <p readonly class="form-control-plaintext">{{oder.quantity}}</p>
      </div>
      <label class="col-sm-5 col-form-label"> <strong>Tổng tiền </strong></label>
      <div class="col-sm-7">
        <p readonly class="form-control-plaintext">{{oder.money | currency:'VND'}}</p>
      </div>
      <label class="col-sm-5 col-form-label"> <strong>Trạng thái đơn hàng</strong></label>
      <div class="col-sm-7">
        <p readonly class="form-control-plaintext" *ngIf="oder.status == eStatusOrder.UNCONFIRMED.valueOf() ">Chờ xác
          nhận</p>
        <p readonly class="form-control-plaintext" *ngIf="oder.status == eStatusOrder.CONFIRMED.valueOf() ">Đang chế
          biến</p>
        <p readonly class="form-control-plaintext" *ngIf="oder.status == eStatusOrder.TRANSPORT.valueOf() ">Đang vận
          chuyển</p>
        <p readonly class="form-control-plaintext" *ngIf="oder.status == eStatusOrder.RECEIVED.valueOf() ">Đã nhận</p>
        <p readonly class="form-control-plaintext" *ngIf="oder.status == eStatusOrder.CANCEL.valueOf() ">Đã hủy</p>
      </div>
      <label class="col-sm-5 col-form-label"> <strong>Chi tiết đơn hàng</strong></label>
      <div class="col-sm-7">
        <p readonly class="form-control-plaintext" value="email@example.com">List ra danh sách chi tiết đơn hàng</p>
      </div>
      <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
          <button mat-button (click)="cancel()">Thoát</button>
        </div>
        <div class="col-sm-5"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label"><strong>Tài khoản thêm </strong></label>
      <div class="col-sm-7">
        <p readonly class="form-control-plaintext" value="email@example.com">{{oder.createdBy.userName}}</p>
      </div>
      <label class="col-sm-5 col-form-label"><strong>Thời gian thêm</strong> </label>
      <div class="col-sm-7">
        <p readonly class="form-control-plaintext" value="email@example.com">{{oder.createAt}}</p>
      </div>
      <label class="col-sm-5 col-form-label"><strong>Tài khoản cập nhật </strong></label>
      <div class="col-sm-7">
        <p readonly class="form-control-plaintext" value="email@example.com">{{oder.updatedBy.userName}}</p>
      </div>
      <label class="col-sm-5 col-form-label"><strong>Thời gian cập nhật</strong></label>
      <div class="col-sm-7">
        <p readonly class="form-control-plaintext" value="email@example.com">{{oder.updateAt}}</p>
      </div>
      <div class="col-sm-12">
        <img src="{{oder.qrcode}}" style="width: 60%;height: 70%;">
      </div>
    </div>
  </div>
</div>
