<div class="row ">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="breadcrumb__text" style="text-align: center"><br>
      <h2>Chi tiết đơn hàng </h2>
    </div>
  </div>
  <div class="col-lg-12">
    <br><br>
    <div class="row">
      <div class="col">
        <div class="profile_lable"> Tên người nhận</div>
        <input class="profile-input" value="{{oder.fullName}}" readonly>
      </div>
      <div class="col">
        <div class="profile_lable"> Địa chỉ nhận</div>
        <input class="profile-input" value="{{oder.address}}" readonly>
      </div>
      <div class="col">
        <div class="profile_lable">Số điện thoại</div>
        <input class="profile-input" value="{{oder.phone}}" readonly>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="profile_lable"> Tài khoản đặt món</div>
        <input class="profile-input" value="{{oder.account.userName}}" readonly>
      </div>
      <div class="col">
        <div class="profile_lable"> Số lượng</div>
        <input class="profile-input" value="{{oder.quantity}}" readonly>
      </div>
      <div class="col">
        <div class="profile_lable">Tổng tiền</div>
        <input class="profile-input" value="{{oder.money}}" readonly>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="profile_lable"> Trạng thái đơn hàng</div>
        <p readonly class="form-control-plaintext" *ngIf="oder.status == eStatusOrder.UNCONFIRMED.valueOf() ">Chờ xác
          nhận</p>
        <p readonly class="form-control-plaintext" *ngIf="oder.status == eStatusOrder.CONFIRMED.valueOf() ">Đang chế
          biến</p>
        <p readonly class="form-control-plaintext" *ngIf="oder.status == eStatusOrder.TRANSPORT.valueOf() ">Đang vận
          chuyển</p>
        <p readonly class="form-control-plaintext" *ngIf="oder.status == eStatusOrder.RECEIVED.valueOf() ">Đã nhận</p>
        <p readonly class="form-control-plaintext" *ngIf="oder.status == eStatusOrder.CANCEL.valueOf() ">Đã hủy</p>
      </div>
      <div class="col">
        <div class="profile_lable"> Chi tiết đơn hàng</div>
        <input class="profile-input" value="danh sách chi tiết món trong đơn hàng" readonly>
      </div>
      <div class="col">
        <div class="profile_lable"> Người cập nhật</div>
        <input class="profile-input" value="{{oder.updatedBy.userName}}" readonly>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="profile_lable"> Thời gian đặt món</div>
        <input class="profile-input" value="{{oder.createAt}}" readonly>
      </div>
      <div class="col">
        <div class="profile_lable">Thời gian cập nhật</div>
        <input class="profile-input" value="{{oder.updateAt}}" readonly>
      </div>
      <div class="col">
        <button class="btn  btn-outline-warning" (click)="cancel()">Thoát</button>
      </div>
    </div>
    <br><br>
  </div>
</div>
