<div class="container  absolute p-0 bottomright " style="position:fixed;">
  <div class="card">
    <div class="row g-0">
      <div class="col-12 col-lg-12 col-xl-12">
        <div class="py-2 px-4 border-bottom d-none d-lg-block">
          <div class="d-flex align-items-center py-1">
            <div class="position-relative">
              <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1"
                   alt="Sharon Lessman" width="40" height="40">
            </div>
            <div class="flex-grow-1 pl-3">
              <strong>Sharon Lessman</strong>
            </div>
            <div>
              <button class="btn  btn-lg mr-1 px-3 d-none d-md-inline">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <!--                  <i class="fa fa-times-circle" aria-hidden="true"></i>-->
              </button>
            </div>
          </div>
        </div>

        <div class="position-relative">
          <div class="chat-messages p-4">

            <div class="chat-message-right mb-4">
              <div>
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1"
                     alt="Chris Wood" width="40" height="40">
                <div class="text-muted small text-nowrap mt-2">2:35 am</div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                <div class="font-weight-bold mb-1"><small style="color: #3a591d;">Tiệm trà sữa AMAI</small></div>
                Chào mừng bạn đến với AMAI
              </div>
            </div>
            <div class="chat-message-right mb-4">
              <div>
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1"
                     alt="Chris Wood" width="40" height="40">
                <div class="text-muted small text-nowrap mt-2">2:35 am</div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                <div class="font-weight-bold mb-1"><small style="color: #3a591d;">Tiệm trà sữa AMAI</small></div>
                Hân hạnh được chào đón bạn
              </div>
            </div>

            <div class="chat-message-left pb-4">
              <div>
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1"
                     alt="Sharon Lessman" width="40" height="40">
                <div class="text-muted small text-nowrap mt-2">2:36 am</div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                <div class="font-weight-bold mb-1"><small style="color: #3a591d;">{{auth.getUsername()}}</small></div>
                Sed pulvinar, massa vitae interdum pulvinar, risus lectus porttitor magna, vitae commodo lectus mauris
                et velit.
                Proin ultricies placerat imperdiet. Morbi varius quam ac venenatis tempus.
              </div>
            </div>
          </div>
        </div>
        <div class="flex-grow-0 py-3 px-4 border-top">
          <div class="input-group">
            <form [formGroup]="formChat" (ngSubmit)="chatbox()">
              <input type="text" class="form-control" formControlName="msg" placeholder="Nhập tin nhắn">
              <button type="submit" class="btn btn-primary">Gửi</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
