
.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qtycart {
  width: 90px;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qtycart input {
  width: 65px;
  border: none;
  text-align: center;
  color: #111111;
  font-size: 16px;
  font-weight: 500;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qtycart .qtybtn {
  font-size: 16px;
  color: #888888;
  width: 10px;
  cursor: pointer;
  font-weight: 500;
}
