<div class="container bootstrap snippets bootdey ">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right" style="margin-top:10px;">
        <div class="col-md-10 col-md-offset-1 pull-right">
          <img class="img-error" src="https://bootdey.com/img/Content/fdfadfadsfadoh.png">
          <h2>403 Not Found</h2>
          <p>Xin lỗi, bạn không có quyền để truy cập địa chỉ này !</p>
          <div class="error-actions">
            <a routerLink="/home" class="btn btn-warning btn-lg">
              <span class="glyphicon glyphicon-arrow-left"></span>
              Trở lại trang chủ
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
