<div style="background: #435d7d;color: white;text-align:center"><h1 mat-dialog-title><strong style="color: white">Cập
  nhật trạng thái đơn
  hàng</strong>
</h1></div>
<hr>
<div mat-dialog-content>
  <form [formGroup]="formFoodOder" (ngSubmit)="onSubmit()" cForm class="row g-3">
    <c-col [md]="12">
      <label cLabel>Trạng thái đơn hàng {{oder.id}}</label>
      <mat-select class="custom-select form-control" formControlName="status">
        <mat-option *ngFor="let eStatus of eStatusOrder" [value]="eStatus">
          <p readonly class="form-control-plaintext" *ngIf="eStatus == 'UNCONFIRMED' ">Chờ xác nhận</p>
          <p readonly class="form-control-plaintext" *ngIf="eStatus == 'CONFIRMED'">Đang chế biến</p>
          <p readonly class="form-control-plaintext" *ngIf=" eStatus== 'TRANSPORT'">Đang vận chuyển</p>
          <p readonly class="form-control-plaintext" *ngIf="eStatus == 'RECEIVED'">Đã nhận</p>
          <p readonly class="form-control-plaintext" *ngIf="eStatus == 'CANCEL'">Đã hủy</p>
        </mat-option>
      </mat-select>
      <small class="text-danger col-sm-10"
             *ngIf="formFoodOder.get('status')?.hasError('required') && formFoodOder.get('status')?.touched">
        <p>Trạng thái không được để trống</p>
      </small>
    </c-col>
    <c-col [md]="12">
      <label cLabel>Trạng thái thanh toán </label>
      <mat-select class="custom-select form-control" formControlName="pay">
        <mat-option *ngFor="let pay of pays" [value]="pay">
          <p readonly class="form-control-plaintext" *ngIf="pay === 'true' ">Đã thanh toán</p>
          <p readonly class="form-control-plaintext" *ngIf="pay === 'false'">Chưa thanh toán</p>
        </mat-option>
      </mat-select>
      <small class="text-danger col-sm-10"
             *ngIf="formFoodOder.get('pay')?.hasError('required') && formFoodOder.get('pay')?.touched">
        <p>Trạng thái thanh toán không được để trống</p>
      </small>
    </c-col>
    <br>
    <c-col [md]="12">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" ngModel formControlName="isDeleted" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Xóa đơn hàng</label>
      </div>
    </c-col>
    <c-col [md]="12">
      <button mat-button (click)="cencal()">Thoát</button>
      <button type="submit" class="btn btn-warning">Lưu</button>
    </c-col>
  </form>
</div>
