<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100"
           src="https://firebasestorage.googleapis.com/v0/b/amai-d208b.appspot.com/o/138207023_449417023133111_9043754658440677469_n.jpg?alt=media&token=27e5c3e7-0429-4d24-8205-7aded85f0bae"
           alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="font-family: Georgia;color:#435d7d;width: 1000px;height: 100px" translate>settings.chaomung</h1>
      </div>
    </div>
  </div>
</div>
<section class="about spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="about__text">
          <div class="section-title">
            <span translate>settings.vecuahang </span>
            <h2 translate>settings.trasua </h2>
          </div>
          <p translate>settings.tiemtraamai</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="about__bar">
          <div class="about__bar__item">
            <p translate>settings.tutay </p>
            <div id="bar1" class="barfiller progress">
              <div class="progress-bar" role="progressbar" style="width: 85%;background:black " aria-valuenow="85"
                   aria-valuemax="100">
              </div>
            </div>
          </div>
          <div class="about__bar__item">
            <p translate>settings.chuyennghiep</p>
            <div id="bar2" class="barfiller progress">
              <div class="progress-bar" role="progressbar" style="width: 75%;background:black " aria-valuenow="75"
                   aria-valuemax="100"></div>
            </div>
          </div>
          <div class="about__bar__item">
            <p translate>settings.antoan</p>
            <div id="bar3" class="barfiller progress">
              <div class="progress-bar" role="progressbar" style="width: 95%;background:black " aria-valuenow="95"
                   aria-valuemax="100"></div>
              <div class="tipWrap"><span class="tip"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="shopmenu spanmenu">
  <div class="container">
    <div class="shop__optionmenu">
    </div>
    <div class="row" *ngIf="foodList != null">
      <div class="col-lg-3 col-md-6 col-sm-6"
           *ngFor="let foods of foodList | paginate :{itemsPerPage:8,currentPage : p}">
        <div class="product__item">
          <div class="product__item__pic" (click)="detailFood(foods)">
            <img style="background: #e5e5e6" src="{{foods.image}}">
            <div class="product__label">
              <span [routerLink]="'detailfood' + [foods.id]">{{foods.name}}</span>
            </div>
          </div>
          <div class="product__item__text">
            <h6><a style="text-decoration: none" href="#">{{foods.foodCategory.name}}</a></h6>
            <div class="product__item__price">{{foods.price | currency :'VND'}}</div>
            <div class="cart_add">
              <a style="text-decoration: none" (click)="createCartShoping(foods)" translate>settings.themvaogiohang</a>
            </div>
          </div>
        </div>
      </div>
      <pagination-controls class="text-right text" (pageChange)="p = $event"
                           previousLabel="Trước"
                           nextLabel="Sau"
                           [autoHide]="true">
      </pagination-controls>
    </div>
  </div>
</section>
<!-- Class Section Begin -->
<section class="class spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="class__form">
          <div class="section-title">
            <span translate>settings.mondangcap</span>
            <h2 translate>settings.lamtutayban <br/></h2>
            <h2 translate>settings.cuachinhban</h2>
          </div>
          <form [formGroup]="formCLass" (ngSubmit)="onSubmit()">
            <span style="  visibility: hidden;" translate #hovaten>settings.hovaten</span>
            <input type="text" [placeholder]="hovaten.textContent" formControlName="name">
            <small class="text-danger col-sm-10"
                   *ngIf="formCLass.get('name')?.hasError('required') && formCLass.get('name')?.touched" translate>settings.validatenamehome
            </small>
            <small class="text-danger col-sm-10 validate "
                   *ngIf="formCLass.get('name')?.hasError('minlength') || formCLass.get('name')?.hasError('maxlength') && formCLass.get('name')?.touched"
                   translate>settings.validatenamehome2 </small>
            <span style="  visibility: hidden;" translate #phone>settings.sodienthoai</span>
            <input type="text" translate [placeholder]="phone.textContent" formControlName="phone">
            <small class="text-danger col-sm-10"
                   *ngIf="formCLass.get('phone')?.hasError('required') && formCLass.get('phone')?.touched" translate>settings.validatephonehome
            </small>
            <small class="form-text text-danger validate"
                   *ngIf="formCLass.get('phone')?.parent && formCLass.get('phone')?.touched"
                   translate>settings.validatesdtdinhdang
            </small>
            <span style="  visibility: hidden;" translate #content>settings.noidung</span>
            <input type="text" translate [placeholder]="content.textContent" formControlName="content">
            <small class="text-danger col-sm-10"
                   *ngIf="formCLass.get('content')?.hasError('required') && formCLass.get('content')?.touched"
                   translate>settings.validatecontenthome
            </small>
            <small class="text-danger col-sm-10 validate "
                   *ngIf="formCLass.get('content')?.hasError('minlength') || formCLass.get('content')?.hasError('maxlength') && formCLass.get('content')?.touched"
                   translate>settings.validatecontenthome2
            </small>
            <button type="submit" class="site-btn" translate>settings.dangkynhantuvan</button>
          </form>
        </div>
      </div>
    </div>
    <div class="class__video">
      <img src="assets/image/1lycf.png" width="80%" height="90%">
    </div>
  </div>
</section>
