<c-row ngPreserveWhitespaces>
  <c-col xs="12">
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header style="background: #435d7d;color: white"><br>
        <c-row>
          <div class="col-sm-10">
            <h1><strong style="margin: 0 auto;">DANH SÁCH DANH MỤC MÓN</strong></h1>
          </div>
          <div class="col-sm-2">
            <a routerLink="/createfoodcategory" class="btn btn-success" data-toggle="modal">
              <span style="color: white">Thêm mới danh mục</span></a>
          </div>
        </c-row>
      </c-card-header>
      <c-card-body>
        <div class="title_right">
          <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left top_search">
            <form [formGroup]="searchForm">
              <div class="input-group">
                <input type="search" class="form-control rounded mr-4" formControlName="search"
                       placeholder="Tìm kiếm tên danh mục..."
                       #search>
                <button class="btn btn-outline-success my-2 my-sm-0 " type="button"
                        (click)="searchFoodCategory(search.value)"> Tìm kiếm
                </button>
              </div>
              <small class="form-text text-muted text-danger"
                     *ngIf="searchForm.get('search')?.invalid && searchForm.get('search')?.touched">Độ dài nhỏ hơn 100
                ký tự!</small>
            </form>
          </div>
          <br>
        </div>
        <table class="table table-striped able-bordered jambo_table bulk_action">
          <thead class="table table-striped able-bordered jambo_table bulk_action">
          <tr>
            <th>Tên danh mục</th>
            <th>Người cập nhật</th>
            <th>Thời gian thêm</th>
            <th>Sửa / Xóa</th>
          </tr>
          </thead>
          <tbody *ngIf="foodCategoryList != null">
          <tr class="even pointer"
              *ngFor="let foodcategory of foodCategoryList | paginate :{itemsPerPage:5 ,currentPage : p}">
            <td (click)="openDetailFoodCategory(foodcategory)">{{foodcategory.name}}</td>
            <td>{{foodcategory.createdBy.userName}}</td>
            <td>{{foodcategory.createAt}}</td>
            <td>
              <a (click)="openEditFoodCategory(foodcategory)" style="  color: #FFC107;" data-toggle="modal"><i
                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="openDeleteFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                 data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
            </td>
          </tr>
          <!--          nếu không tìm thấy dữ liệu trên data-->
          </tbody>
          <tbody *ngIf="foodCategoryList == null">
          <tr>
            <td colspan="5" style="text-align: center; color: crimson"><strong>Không có dữ liệu</strong></td>
          </tr>
          </tbody>

        </table>
      </c-card-body>
      <!--        Pagination-->
      <pagination-controls class="text-right text" (pageChange)="p = $event"
                           previousLabel="Trước"
                           nextLabel="Sau"
                           [autoHide]="true">
      </pagination-controls>
    </c-card>
  </c-col>
</c-row>
