:host {
  #exampleColorInput {
    min-width: 2.5rem;
  }
  .color-box {
    min-width: 2rem;
    min-height: 2rem;
  }
}
.white {
  background-color: #FFF!important;
}

.blue-grey {
  background-color: #ECEFF1!important;
}

.light-blue {
  background-color: #E3F2FD!important;
}

.deep-purple {
  background-color: #EDE7F6!important;
}

.grey {
  background-color: #EEEEEE!important;
}

.dark {
  background-color: #212121!important;
}

.blue-grey-dark {
  background-color: #37474F!important;
}

.teal-dark {
  background-color: #004D40!important;
}

.deep-purple-dark {
  background-color: #4527A0!important;
}

.grey-dark {
  background-color: #424242!important;
}
table.table td a.edit {
  color: #FFC107;
}
