<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <!--    <app-docs-callout href="forms/form-control" name="Form Control"></app-docs-callout>-->
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <h4><strong>Danh sách danh mục món</strong></h4>
      </c-card-header>
      <c-card-body>
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>Tên danh mục</th>
            <th>Sửa / Xóa</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Foo</td>
            <td>
              <!--              <button mat-button (click)="openEditFoodCategory(foodcategory)" class="btn btn-warning">Sửa</button>-->
              <!--              <button mat-button (click)="openDeleteFoodCategory(foodcategory)" class="btn btn-danger">Xóa</button>-->
              <a (click)="openEditFoodCategory(foodcategory)" style="  color: #FFC107;" data-toggle="modal"><i
                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="openDeleteFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                 data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
            </td>
          </tr>
          <tr>
            <td><a (click)="openDetailFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                   data-toggle="modal"><p>danh mục 1</p></a></td>
            <td>Someone</td>
            <td>
              <a (click)="openEditFoodCategory(foodcategory)" style="  color: #FFC107;" data-toggle="modal"><i
                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="openDeleteFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                 data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

            </td>
          </tr>
          <tr>
            <td><a (click)="openDetailFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                   data-toggle="modal"><p>danh mục 1</p></a></td>
            <td>Iamout</td>
            <td>
              <a (click)="openEditFoodCategory(foodcategory)" style="  color: #FFC107;" data-toggle="modal"><i
                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="openDeleteFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                 data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

            </td>
          </tr>
          <tr>
            <td><a (click)="openDetailFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                   data-toggle="modal"><p>danh mục 1</p></a></td>
            <td>Yoda</td>
            <td>
              <a (click)="openEditFoodCategory(foodcategory)" style="  color: #FFC107;" data-toggle="modal"><i
                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="openDeleteFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                 data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

            </td>
          </tr>
          <tr>
            <td><a (click)="openDetailFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                   data-toggle="modal"><p>danh mục 1</p></a></td>
            <td>Patrick</td>
            <td>
              <a (click)="openEditFoodCategory(foodcategory)" style="  color: #FFC107;" data-toggle="modal"><i
                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="openDeleteFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                 data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>Barack</td>
            <td>
              <a (click)="openEditFoodCategory(foodcategory)" style="  color: #FFC107;" data-toggle="modal"><i
                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="openDeleteFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                 data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>François</td>
            <td>
              <a (click)="openEditFoodCategory(foodcategory)" style="  color: #FFC107;" data-toggle="modal"><i
                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="openDeleteFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                 data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>Michel</td>
            <td>
              <a (click)="openEditFoodCategory(foodcategory)" style="  color: #FFC107;" data-toggle="modal"><i
                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="openDeleteFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                 data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

            </td>
          </tr>
          <tr>
            <td>9</td>
            <td>Chuck</td>
            <td>
              <a (click)="openEditFoodCategory(foodcategory)" style="  color: #FFC107;" data-toggle="modal"><i
                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="openDeleteFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                 data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

            </td>
          </tr>
          <tr>
            <td>10</td>
            <td>Simon</td>
            <td>
              <a (click)="openEditFoodCategory(foodcategory)" style="  color: #FFC107;" data-toggle="modal"><i
                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="openDeleteFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                 data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

            </td>
          </tr>
          <tr>
            <td><a (click)="openDetailFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                        data-toggle="modal"><p>danh mục 1</p></a></td>
            <td>Louis</td>
            <td>
              <a (click)="openEditFoodCategory(foodcategory)" style="  color: #FFC107;" data-toggle="modal"><i
                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="openDeleteFoodCategory(foodcategory)" style=" color: #F44336;" class="delete"
                 data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
            </td>
          </tr>
          <tr>
            <td>12</td>
            <td>Zelda</td>
            <td>
              <button type="button" class="btn btn-warning">Sửa</button>
              <button type="button" class="btn btn-danger">Xóa</button>
            </td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
