<footer class="footer_section" style="background-color: #C53030; color: #0c0c0c">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4 style="color: whitesmoke">
            Amai Amai
          </h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                  Địa chỉ: Đại học bách khoa

                </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                  Call + 08154233658
                </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                  quynhnhu@gmail.com
                </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <a href="" class="footer-logo">
            Amai
          </a>
          <p>
            Quán trà sữa đem lại sự yêu thương, hương vị ngọt ngào từ trong tâm bạn kiến tâm hồn trở nên ngọt ngào. <br> Hãy đến với chúng tôi, chúng tôi sẽ chăm sóc bạn thật nhiệt tình và chu đáo
          </p>
          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4" >
        <h4 style="color: whitesmoke">
         Giờ mở cửa
        </h4>
        <p>
          8.00 Am - 11.00 Pm
        </p>
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> 2022 Cung cấp bởi quynhnhu.vn
        <a href="https://themewagon.com/" target="_blank">Quỳnh Như</a>
      </p>
    </div>
  </div>
</footer>
