<c-row ngPreserveWhitespaces>
  <c-col xs="1">
  </c-col>
  <c-col xs="10">
    <c-card class="mb-4">
      <c-card-header style="background: #435d7d;color: white;text-align:center"><br>
        <h1><strong>THÊM MỚI MÓN</strong></h1>
      </c-card-header>
      <c-card-body>
        <form cForm class="row g-3" [formGroup]="formFoodCategory" (ngSubmit)="onSubmit()">
          <c-col [md]="2">
          </c-col>
          <c-col [md]="2">
            <label class="mat-form-field-disabled"> <strong>Tên danh mục</strong></label>
          </c-col>
          <c-col [md]="7">
            <input cFormControl type="text" class="form-control" formControlName="name" placeholder="Nhập tên danh mục">
            <small class="text-danger col-sm-10"
                   *ngIf="formFoodCategory.get('name')?.hasError('minlength') && formFoodCategory.get('name')?.touched">
              <p>Tên danh mục phải lớn hơn 2 ký tự</p>
            </small>
            <small class="text-danger col-sm-10"
                   *ngIf="formFoodCategory.get('name')?.hasError('required') && formFoodCategory.get('name')?.touched">
              <p>Tên danh mục không được để trống</p>
            </small>
            <small class="text-danger col-sm-10"
                   *ngIf="formFoodCategory.get('name')?.hasError('maxlength') && formFoodCategory.get('name')?.touched">
              <p>Tên danh mục phải nhỏ hơn 255 ký tự</p></small>
          </c-col>
          <c-col [md]="2">
          </c-col>
          <c-col [xs]="12" style="text-align:center">
            <button routerLink="/food" type="button" class="btn btn-dark mb-2">Hủy</button>
            <button type="submit" class="btn btn-primary mb-2">Thêm</button>
          </c-col>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="1">
  </c-col>
</c-row>
