<div class="container">
  <div class="row">
    <div class="col-lg-3"><br><br><br>
      <div>
        <div class="container">
          <div class="view-account">
            <section class="module">
              <div class="module-inner">
                <div class="side-bar">
                  <nav class="side-menu">
                    <ul class="nav">
                      <li><a style="text-decoration: none" routerLink="/user"><span class="fa fa-user"></span> Thông tin
                        cá nhân</a></li>
                      <li><a style="text-decoration: none" routerLink="/changePass"><span class="fa fa-cog"></span> Đổi
                        mật khẩu</a></li>
                      <li class="active"><a style="text-decoration: none" routerLink="/oder"><span
                        class="fa fa-credit-card"></span> Đơn hàng</a></li>
                      <li><a style="text-decoration: none" routerLink="/history"><span class="fa fa-envelope"></span>
                        Lịch sử đơn hàng</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 gedf-main" *ngIf="orderList != null ">
      <br>
      <div class="container padding-bottom-3x mb-1"
           *ngFor="let oder of orderList | paginate :{itemsPerPage:5,currentPage : p}">
        <br>
        <div class="card mb-3">
          <div class="p-4 text-center text-white text-lg bg-faded rounded-top"><span
            class="text-uppercase label-color-1" style="color: black">Lịch theo dõi đơn hàng - </span><span
            class="text-medium" style="color:black;"> Mã đơn hàng: {{oder.id}}</span></div>
          <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2 bg-secondary">
            <div class="w-100 text-center py-1 px-2"><span
              class="text-medium">Người xác nhận:</span> {{oder.account.userName}}
            </div>
            <div class="w-100 text-center py-1 px-2"><span class="text-medium">Trạng thái:
              <i *ngIf="oder.status == eStatusOrder.UNCONFIRMED.valueOf() ">Chờ xác nhận</i>
              <i *ngIf="oder.status == eStatusOrder.CONFIRMED.valueOf() ">Đang chế biến</i>
              <i *ngIf="oder.status == eStatusOrder.TRANSPORT.valueOf() ">Đang vận chuyển</i>
              <i *ngIf="oder.status == eStatusOrder.RECEIVED.valueOf() ">Đã nhận</i>
              <i *ngIf="oder.status == eStatusOrder.CANCEL.valueOf() ">Đã hủy</i></span>
            </div>
            <div class="w-100 text-center py-1 px-2"><span class="text-medium">Ngày đặt:</span> {{oder.createAt}}
            </div>
          </div>
          <div class="card-body">
            <div
              class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
              <div class="step completed">
                <div class="step-icon-wrap">
                  <div class="step-icon">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </div>
                </div>
                <h4 class="step-title">Chờ xác nhận</h4>
              </div>
              <div class="step completed">
                <div class="step-icon-wrap">
                  <div class="step-icon">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                  </div>
                </div>
                <h4 class="step-title">Chờ lấy</h4>
              </div>
              <div class="step">
                <div *ngIf="oder.status " class="completed">
                  <div class="step-icon-wrap">
                    <div class="step-icon"><i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                  </div>
                  <h4 class="step-title">Đang giao</h4>
                </div>

              </div>
              <div class="step ">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-home" aria-hidden="true"></i>
                  </div>
                </div>
                <h4 class="step-title">Đã giao</h4>
              </div>
              <div class="step">
                <div class="completed">
                  <div class="step-icon-wrap">
                    <div class="step-icon"><i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                  </div>
                  <h4 class="step-title">Đã hủy</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="d-flex flex-wrap flex-md-nowrap justify-content-center justify-content-sm-between align-items-center">
          <div class="custom-control custom-checkbox mr-3">
          </div>
          <div class="text-left text-sm-right"><a class="btn btn-outline-warning btn-rounded btn-sm"
                                                  href="orderDetails"
                                                  data-toggle="modal" data-target="#orderDetails">Xem chi tiết đơn
            hàng</a></div>
        </div>
      </div>
      <br>
      <pagination-controls class="text-right text" (pageChange)="p = $event"
                           previousLabel="Trước"
                           nextLabel="Sau"
                           [autoHide]="true">
      </pagination-controls>

    </div>
    <div class="col-lg-9 gedf-main" *ngIf="orderList == null">
      <br><br> <br><br>
      <div>
        <p>Hiên tại bạn đang không có đơn hàng nào cả</p>
      </div>
      <br><br> <br><br><br><br> <br><br>
    </div>
  </div>
</div>



