<div style="  background: #f08632;">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header__top__inner">
            <div class="header__top__left">
              <ul>
                <li>Tiếng Việt
                  <ul>
                    <li>Nhật</li>
                    <li>Việt</li>
                  </ul>
                </li>
                <li><a href="#">Đăng nhập</a></li>
              </ul>
            </div>
            <div class="header__logo">
              <a href="/"><img src="assets/image/logo.png" alt=""></a>
            </div>
            <div class="header__top__right">
              <div class="header__top__right__links">
                <a href="#" class="search-switch"><img src="../../../../../assets/image/search.png" alt=""></a>
                <a href="#"><img src="assets/heart.png" alt=""></a>
              </div>
              <div class="header__top__right__cart" routerLink="/shoping">
                <a href="#"><img src="assets/cart.png" alt=""> <span>0</span></a>
                <div class="cart__price">Giỏ hàng: <span>đ0.00</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
  </div>
  <div class="container">
    <div>
      <div class="col-lg-12">
        <nav class="header__menu mobile-menu">
          <ul>
            <li><a href="./index.html">Trang chủ</a></li>
            <li><a routerLink="/class">Dịch vụ</a></li>
            <li class="active"><a routerLink="/menu">Cửa hàng</a></li>
            <li><a href="./blog.html">Bài viết</a></li>
            <li><a href="./contact.html">Liên hệ</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
