<footer class="footer set-bg"
        data-setbg="ihttps://firebasestorage.googleapis.com/v0/b/amai-d208b.appspot.com/o/img_1.png?alt=media&token=9e859d54-8a9f-4eb9-b4ad-e1a1532d5454">
  <div class="container" *ngIf="shop != null">
    <div class="row" *ngFor="let shops of shop">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__widget">
          <h2 style="color: white">KHUNG GIỜ MỞ CỬA</h2>
          <ul>
            <li>Thứ Hai - Thứ Sáu: 08:00 am – 08:30 pm</li>
            <li>Thứ Bảy: 10:00 am – 16:30 pm</li>
            <li>Chủ Nhật: 10:00 am – 16:30 pm</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__logo">
            <a href="#"><img src="/assets/image/logo.png" alt=""></a>
          </div>
          <p>{{shops.content}}</p>
          <div class="footer__social">
            <a href="{{shops.facebook}}">
              <i class='fab fa-facebook  fa-1x'></i>
            </a>
            <a href="{{shops.instagram}}">
              <i class='fab fa-instagram  fa-1x'></i>
            </a>
            <a href="{{shops.youtube}}">
              <i class='fab fa-youtube  fa-1x'></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__newslatter">
          <h2 style="color: white">LIÊN HỆ</h2>
          <p>Vui lòng liên hệ với chúng tôi được hỗ trợ bạn.</p>
          <p>Địa Chỉ : {{shops.address}}</p>
          <p>Số điện thoại: {{shops.phone}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="shop == null">
    <div class="row">
      <p><strong>Chúng tôi đang cố gắng cập nhật </strong></p>
    </div>
  </div>
</footer>
