<footer class="footer set-bg" data-setbg="img/footer-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__widget">
          <h2 style="color: white">KHUNG GIỜ MỞ CỬA</h2>
          <ul>
            <li>Thứ Hai - Thứ Sáu: 08:00 am – 08:30 pm</li>
            <li>Thứ Bảy: 10:00 am – 16:30 pm</li>
            <li>Chủ Nhật: 10:00 am – 16:30 pm</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__logo">
            <a href="#"><img src="img/footer-logo.png" alt=""></a>
          </div>
          <p>Tôi yêu chính tôi, yêu cách tôi làm ra những ly trà đầy sự ngọt ngào.Tôi trao tình yêu vào ly trà và gửi nó
            cho khách hàng của tôi.</p>
          <div class="footer__social">
            <a href="#">
              <i class='fab fa-facebook  fa-1x'></i>
            </a>
            <a href="#">
              <i class='fab fa-instagram  fa-1x'></i>
            </a>
            <a href="#">
              <i class='fab fa-youtube  fa-1x'></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__newslatter">
          <h2 style="color: white">NHẬN TƯ VẤN</h2>
          <p>Vui lòng nhập mail để chúng tôi được hỗ trợ bạn.</p>
          <form action="#">
            <button type="submit">
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <p class="copyright__text text-white">
            Bản quyền &copy; Mọi bản quyền được tạo | <i class="fa fa-heart" aria-hidden="true"></i> bởi <a
            href="https://colorlib.com" target="_blank">quynhnhu.vn</a>
          </p>
        </div>
        <div class="col-lg-5">
          <div class="copyright__widget">
            <ul>
              <li><a href="#">Chính xác bảo mật</a></li>
              <li><a href="#">Điều khoản & điều kiện</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
