<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-70">
    <form [formGroup]="formLogin" (ngSubmit)="login()">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 ">
              <h1 class="mb-5 text-center" style="font-family: Georgia;font-weight: bolder">ĐĂNG NHẬP </h1>
              <div class="form-outline mb-4">
                <label class="form-label" style="text-align: right">Tên đăng nhập</label>
                <input class="form-control form-control-lg" type="text" formControlName="userName" #elementUsername
                       placeholder="Nhập tài khoản">
                <div
                  *ngIf="formLogin.get('userName')?.hasError('required') && (formLogin.get('userName')?.touched || isLoginValid) ; then thenUsername else elseUsername"></div>
                <ng-template #thenUsername>
                  <small style="color: red">Vui lòng điền tên đăng nhập</small>
                </ng-template>
                <ng-template #elseUsername>
                  <small *ngIf="errorUsername ; else elseErrorUsername" style="color: red">{{errorUsername}}</small>
                  <ng-template #elseErrorUsername><small style="color: white">.</small></ng-template>
                </ng-template>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label">Mật khẩu</label>
                <input type="password" class="form-control form-control-lg" formControlName="password" #elementPassword
                       placeholder="Nhập mật khẩu"
                >
                <div
                  *ngIf="formLogin.get('password')?.hasError('required') && (formLogin.get('password')?.touched || isLoginValid) ; then thenPassword else elsePassword"></div>
                <ng-template #thenPassword>
                  <small style="color: red">Vui lòng điền mật khẩu</small>
                </ng-template>
                <ng-template #elsePassword>
                  <small *ngIf="errorPassword ; else elseErrorPassord" style="color: red">{{errorPassword}}</small>
                  <ng-template #elseErrorPassord><small style="color: white">.</small></ng-template>
                </ng-template>
              </div>
              <div class="text-center">
                <button class="btn btn-lg " type="submit" style="width: 70%;color: white;background-color: royalblue">
                  Truy cập
                </button>
              </div>
              <hr class="my-4">
              <div style="text-align: center">
                <p class="cursor-pointer forgot-password" (click)="forgotPassword()">Quên mật khẩu?</p>
                <p class="text-center text-muted mt-5 mb-0">Bạn chưa có tài khoản ?<a (click)="sinup()"
                                                                                      class="fw-bold text-body"><u>Đăng
                  Ký
                </u></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
