
<section class="about_section layout_padding" style="background-color: whitesmoke; color: #0c0c0c">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="assets/images/content/home/trasuahome.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2 style="color: #761c19">
              Kính chào quý khách đã ghé thăm
            </h2>
          </div>
          <p style="font-style: normal">
            Trà sữa tại Amai được ví như “trà sữa quốc dân” – dành cho mọi đối tượng, ra đời với tiêu chí ngon – rẻ – an toàn.
            Đến với nơi đây, bạn dễ dàng tìm thấy và thưởng thức các loại đồ uống đang “hot rần rần” trên khắp các mặt trận
            . Thay vì phải bỏ ra chi phí cả trăm ngàn cho một cốc trà sữa,
            bạn vẫn có thể thưởng thức được những món đồ uống thịnh hành với giá cả phải chăng,
            hơn nữa lại được sáng tạo theo cách riêng biệt của đội ngũ nhân viên pha chế.
          </p>
          <a href="">
            Đặt món
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
