<div style="background: #435d7d;color: white;text-align:center"><h1 mat-dialog-title><strong>Chỉnh sửa danh mục</strong>
</h1></div>
<hr>
<div mat-dialog-content>
  <form [formGroup]="formFoodCategory" (ngSubmit)="onSubmit()" cForm class="row g-3">
    <c-col [md]="12">
      <label cLabel>Tên danh mục {{foodcategory.name}}</label>
      <input cFormControl type="text" class="form-control" name="name" formControlName="name"
             placeholder="Nhập tên danh mục">
      <small class="text-danger col-sm-10"
             *ngIf="formFoodCategory.get('name')?.hasError('minlength') && formFoodCategory.get('name')?.touched">
        <p>Tên danh mục phải lớn hơn 2 ký tự</p>
      </small>
      <small class="text-danger col-sm-10"
             *ngIf="formFoodCategory.get('name')?.hasError('required') && formFoodCategory.get('name')?.touched">
        <p>Tên danh mục không được để trống</p>
      </small>
      <small class="text-danger col-sm-10"
             *ngIf="formFoodCategory.get('name')?.hasError('maxlength') && formFoodCategory.get('name')?.touched">
        <p>Tên danh mục phải nhỏ hơn 255 ký tự</p></small>
    </c-col>
    <br>
    <c-col [md]="12">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" ngModel formControlName="isDeleted" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Xóa danh mục</label>
      </div>
    </c-col>
    <c-col [md]="12">
      <button mat-button (click)="cencal()">Thoát</button>
      <button type="submit" class="btn btn-secondary">Lưu</button>
    </c-col>
  </form>
</div>


